.container {
    height: 100vh;
    background-color: #0A0445;
}

.welcome {
    color: white;
    
    font-weight: bold;
    font-size: 50px;
}

.containerWelcome {
    top: 30%;
    left: 10%;

    width: 20%;

    position: absolute;
}

.textMentoringPlatform {
    color: white;

    font-size: 35px;
}

.containerTextMentoringPlatform {
    top: 45%;
    left: 10%;

    position: absolute;
}

.containerRegister {
    top: 53%;
    left: 10%;

    position: absolute;
}

.register {    
    width: 323px;
    height: 89px;
    
    background-color: #BF4343;
    color: white;
    font-weight: bold;
    border-radius: 60px;
    font-size: 150%;
    border: 0;
}

.containerLogin {
    top: 64%;
    left: 15%;

    position: absolute;
}

.login {
    color: white;
}

.login > span {
    font-weight: bold;
}
