.container {    
    height: 100vh;
    background-color: #E86A52;
}

.containerCheckYourEmail {
    background-color: #592371;

    top: 30%;
    left: 35%;
    width: 30%;
    height: 30%;

    border-radius: 61px;
    position: absolute;
    text-align: center;
}

.checkYourEmail {
    color: white;

    margin-top: 16%;
    margin-left: -25%;
    
    position: absolute;
    font-size: 200%;
    font-weight: bold;
}

.textCheckYourEmail {
    color: white;

    margin-top: 23%;
    margin-left: -26%;
    margin-right: 20%;

    position: absolute;
    font-size: 160%;
}